.search_bar {
  height: auto;
  margin-right: 5px;
  display: flex;
}

.inputSearch {
  height: 35px;
  width: 600px;
  outline: none;
  border: none;
}

#buttonSearch {
  height: 35px;
  border: none;
  background: white;
  font-size: 1rem;
}
