.cabecalho {
  background-color: aqua;
  height: 70px;
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  position: absolute;
}

#menu {
  z-index: 2;
}

#menu_bar {
  width: 45px;
  height: 40px;
  cursor: pointer;
  margin: 0 35px 0 20px;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #dc052d;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
  height: 8px;
}

#bar2 {
  transform: translateY(5px);
  height: 8px;
}

#bar3 {
  transform: translateY(16px);
  height: 8px;
}

.nav {
  transition: 0.3s ease;
  position: absolute;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu_bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: radial-gradient(circle, #dc052d, #dc052d);
  border-radius: 20%;
  transition: 0.3s ease;
  position: absolute;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change_bg {
  width: 500px;
  height: 400px;
  transform: translate(-60%, 0);
  top: 0;
}

#imageLogo {
  height: 60px;
  margin-right: 5px;
}

#forSale {
  font-size: 60px;
  text-decoration: none;
  margin-right: 100px;
}

#forSaleLogo {
  height: auto;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.promocoes ul a {
  font-size: 30px;
  text-decoration: none;
  margin-right: 15px;
}

.loginDiv {
  width: 100px;
  height: 40px;
  margin-right: 5px;
  display: flex;
  border: 1px solid;
  border-radius: 10%;
  cursor: pointer;

  .iconLogin {
    margin-right: 5px;
  }

  .mensagem {
    display: flex;
    flex-direction: column;
  }
}
